@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,500,700&display=swap');

#logo{
    width: 100%;
}

table.dataTable > tbody > tr.child ul.dtr-details{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.qq-gallery .qq-upload-button{
    width: auto;
}

:root{
    --tooltip-color: #ffb032;
}

.tooltip-inner {
    background-color: var(--tooltip-color);
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: var(--tooltip-color);
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    border-right-color: var(--tooltip-color);
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: var(--tooltip-color);
}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    border-left-color: var(--tooltip-color);
}