.banner-home{
	position: relative;
	.imgFondo{
		width: 100%;
		position: relative;
		display: block;
		>img{
			width: 100%;
			display: block;
		}
		.imgTilt{
			transform-style: preserve-3d;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			position: absolute;
			z-index: 1;
			img{
				position: absolute;
				top: 0rem;
			}
			.first{
				z-index: 2;
				transform: translateZ(50px);
			}
			.second{
				z-index: 3;
				transform: translateZ(0px);
			}
		}
		.btn-banner{
			position: absolute;
			top: 17%;
			left: 8%;
			color: #fff;
			font-size: var(--smaller-text);;
			padding: 0.2rem;
			background-color: var(--orange-color);
			text-transform: uppercase;
			box-shadow: 0px 2px 6px rgba(5, 0, 6, 0.23);
			border: none;
			margin-top: 0.5rem;
			z-index: 2;
			text-align: center;
			font-weight: 400;
			&.bnr-home{
				@media only screen and (min-width: $mobile-s){
					top: 17%;
					left: 8%;
					box-shadow: 0px 4px 10px rgba(5, 0, 6, 0.23);
					padding: 0.3rem;
					font-size: var(--smaller-text);
				}
				@media only screen and (min-width: $mobile-l){
					
				}
				@media only screen and (min-width: $tablet-s){
					top: 41%;
					left: 5%;
					width: 20%;
				}
				@media only screen and (min-width: $tablet-m){
					box-shadow: 0px 9px 18px rgba(5, 0, 6, 0.23);
					padding: 0.5rem;
					font-size: var(--small-text);
				}
				@media only screen and (min-width: $laptop-s){
					width: auto;
				}
				@media only screen and (min-width: $laptop-l){
					font-size: var(--medium-text);
				}
			}
			&.bnr-casos{
				@media only screen and (min-width: $mobile-s){
					top: 17%;
					left: 8%;
					box-shadow: 0px 4px 10px rgba(5, 0, 6, 0.23);
					padding: 0.3rem;
					font-size: var(--smaller-text);
				}
				@media only screen and (min-width: $mobile-l){
					
				}
				@media only screen and (min-width: $tablet-s){
					top: 32%;
					left: 5%;
					padding: 0.2rem;
				}
				@media only screen and (min-width: $tablet-m){
					top: 33%;
					box-shadow: 0px 9px 18px rgba(5, 0, 6, 0.23);
					padding: 0.3rem;
				}
				@media only screen and (min-width: $tablet-l){
					top: 34%;
					left: 5%;
					font-size: var(--small-text);
					padding: 0.5rem;
				}
				@media only screen and (min-width: $laptop-s){
					font-size: var(--medium-text);
					
				}
				@media only screen and (min-width: $laptop-l){	
				}
			}
			&.bnr-credito{
				width: auto;
				@media only screen and (min-width: $mobile-s){
					top: 18%;
					left: 8%;
					box-shadow: 0px 4px 10px rgba(5, 0, 6, 0.23);
					padding: 0.2rem;
					font-size: var(--smaller-text);
				}
				@media only screen and (min-width: $mobile-l){
					top: 19%;
					padding: 0.3rem;
				}
				@media only screen and (min-width: $tablet-s){
					top: 29%;
					left: 5%;
					width: 19%;
				}
				@media only screen and (min-width: $tablet-m){
					top: 30%;
					box-shadow: 0px 9px 18px rgba(5, 0, 6, 0.23);
					padding: 0.5rem;
				}
				@media only screen and (min-width: $tablet-l){
					top: 30%;
					left: 5%;
					font-size: var(--small-text);
				}
				@media only screen and (min-width: $laptop-s){
					font-size: var(--medium-text);
					
				}
				@media only screen and (min-width: $laptop-l){
					
				}

				@media only screen and (min-width: $pc-s){
					width: auto;
				}
			}
		}
	}

	.img{
		width: 100%;
		position: relative;
		display: block;
		svg{
			width: 100%;
			display: block;
		}
	}

	
}

.banner{
	.img{
		width: 100%;
		position: relative;
		display: block;
		img{
			width: 100%;
			@media only screen and (max-width: $tablet-s){
				min-height: 22rem;
			}
			@media only screen and (max-width: $tablet-l){
				min-height: 18rem;
			}
		}
	}
	.texto{
		position: relative;
		&.full{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
		}
		.center{
			@include absolute-center;
			width: 100%;
			.titulo-experiencia{
				color: #ffffff;
				text-align: center;
				font-weight: 700;
				font-style: oblique;
				text-transform: uppercase;
				font-size: var(--epic-text);
				line-height: 1.05;
				b{
					position: relative;
					top: 3px;
					font-size: 135%;
					@media only screen and (max-width: $mobile-s){
						font-size: 125%;
					}
					@media only screen and (max-width: $tablet-l){
						font-size: 105%;
					}
				}
				span{
					display: block;
					@media only screen and (max-width: $mobile-s){
						font-size: 155%;
					}
					@media only screen and (max-width: $tablet-l){
						font-size: 125%;
					}
				}
			}
			.btn-option{
				padding-top: 1.25rem;
			}
			.btn-experiencia{
				color: #fff;
				font-size: var(--large-text);
				@media only screen and (max-width: $tablet-l){
					margin: 0.1em 0.5em;
				}
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}
	.numeros{
		background-color: #f6f6f6;
		padding-top: 1.25rem;
		.column-block{
			margin-bottom: 1.25rem;
		}
		.texto{
			text-align: center;
			.numero{
				color: var(--orange-color);
				font-weight: 700;
				margin-bottom: 0rem;
				.numscroller{
					-webkit-transition: all 0.5s ease;
					transition: all 0.5s ease;
					font-size: var(--biger-text);
				}
			}
			.titulo{
				color: #292929;
				font-weight: 700;
				text-transform: uppercase;
				font-style: oblique;
				font-size: var(--large-text);
				@media only screen and (max-width: $mobile-s){
					font-size: var(--medium-text);
				}
			}
		}
	}
}

.colaboracion{
	background-color: #fbfbfb;
	.certificaciones{
		padding: 1.25rem 0rem;
		.menu {
			padding: 0rem 1rem;
			display: grid;
			grid-template-rows: repeat(2, minmax(0, 1fr));
			grid-column-gap: 2vw;
			grid-template-columns: repeat(4, minmax(0, 1fr));
			align-items: center;
			li {
				padding: 0;
				&.texto{
					font-weight: 500;
					font-style: oblique;
					text-align: center;
					font-size: var(--large-text);
					grid-column: 1 / 5;
				}
				a{
					padding: 0;
					color: #292929;
					img{
						height: 50px;
					    display: block;
					    margin: 0px auto;
					    object-fit: contain;
					}
					&.img{
						padding: 0.5rem 0rem;
						img{
							min-height: 0px;
						}
					}
				}
			}
		}
	}
	.img{
		img{
			min-height: 0;
		}
	}
	.contimagen{
		width: 100%;
		position: relative;
		display: block;
		min-height: 200px;
		.imagen-colaboracion{
			width: 100%;
			height: 100%;
			min-height: 200px;
		}
	}
	.colaboraciones{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: inherit;
		.titulo-colaboracion{
			color: #fff;
			font-weight: 500;
			font-size: var(--biger-text);
			text-align: center;
			@media only screen and (max-width: $mobile-l){
				font-size: var(--larger-text);
			}
		}
		.menu-banner{
			padding-top: 0.75rem;
			ul {
				@media only screen and (max-width: $mobile-l){
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					li{
						min-width: 60px;
					}
				}
				li {
					a{
						@media only screen and (max-width: $mobile-l){
							padding: 0;
						}
						img{
							height: 45px;
							display: block;
							margin: 0px auto;
							object-fit: contain;
						}
					}
				}
			}
		}
	}
	
	.forma-pago{
		background-color: var(--orange-color);
		padding: 0.8rem 0rem;
		@media only screen and (min-width: $tablet-l){
			padding: 1.25rem 0rem;
			grid-template-columns: repeat(6, 1fr);
		}
		ul {
			padding: 0rem 1rem;
			@media only screen and (max-width: $mobile-l){
				padding: 0rem 0.2rem;
			}
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			@media only screen and (min-width: $tablet-l){
				grid-template-columns: repeat(6, 1fr);
			}
			li {
				a{
					@media only screen and (max-width: $mobile-l){
						padding: 0.2rem;
					}
					color: #fff;
					img{
						height: 42px;
					    display: block;
					    margin: 0px auto;
					    object-fit: contain;
					}
					&.texto{
						font-weight: 500;
					    font-style: oblique;
					    padding-top: 1.2rem;
					    text-align: center;
					    font-size: var(--large-text);
					}
				}
			}
		}
	}
}

.invierte{
	.texto{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@media only screen and (max-width: $tablet-s){
			grid-template-columns: repeat(1, 1fr);
			//margin: 2rem 0rem;
		}
		.centrado{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.titulo-invierte{
			position: relative;
			width: 100%;
			font-size: var(--biger-text);
			color: #fff;
			font-weight: 700;
			text-align: center;
			line-height: 1;
			margin-bottom: 0px;
			span{
				color: var(--orange-color);
				font-size: 150%;
			}
		}
		.texto-banner{
			p{
				color: #fff;
				text-align: center;
				line-height: 1.5;
				font-weight: 700;
				font-size: var(--medium-text);
				margin: 0;
				@media only screen and (max-width: $tablet-s){
					padding: 0rem 1rem;
				}
			}
			.btn-invierte{
				color: #fff;
				font-size: var(--medium-text);
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				font-weight: 700;
				background-color: var(--orange-color);
				text-transform: uppercase;
				box-shadow: 0px 9px 18px rgba(5, 0, 6, 0.23);
				border: none;
				margin-top: 0.5rem;
				&:hover, &:focus{
					color: #fff;
				}
			}
			@media only screen and (max-width: $tablet-s){
				display: grid;
				grid-template-columns: 1.2fr 1fr;
				justify-items: center;
				.btn-invierte{
					width: 80%;
				}
			}
		}
	}

	@media only screen and (max-width: $laptop-s){
		.texto{
			.titulo-invierte{
				font-size: var(--largest-text);
				span{
					font-size: 200%;
				}
			}
			.texto-banner{
				p{
					font-size: var(--small-text);
				}
				.btn-invierte{
					font-size: var(--small-text);
				}
			}
		}
	}

	@media only screen and (max-width: $tablet-s){
		.texto{
			.titulo-invierte{
				font-size: calc(var(--largest-text) * 0.8);
				span{
					font-size: 200%;
				}
			}
			.texto-banner{
				p{
					font-size: calc(var(--medium-text) * 0.85);
				}
				.btn-invierte{
					font-size: calc(var(--medium-text) * 0.8);
				}
			}
		}
	}

	@media only screen and (max-width: $mobile-l){
		.texto{
			.titulo-invierte{
				font-size: calc(var(--largest-text) * 0.75);
				span{
					font-size: 200%;
				}
			}
			.texto-banner{
				p{
					font-size: calc(var(--medium-text) * 0.75);
				}
				.btn-invierte{
					font-size: calc(var(--medium-text) * 0.75);
				}
			}
		}
	}
}