.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.banner-ahorrar{
    position: relative;
    width: 100%;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: $tablet-l){
        margin: 3rem 0;
    }

    @media only screen and (max-width: $mobile-m){
        margin: 2rem 0;
    }	
	
    .imagen{
        width: 90%;
        min-height: 20vh;
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .texto{
            padding: 1rem 2rem;
            width: 40%;
            margin: 0;
            font-size: var(--biger-text);
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
            text-align: center;

            @media only screen and (max-width: $laptop-s){
                width: 40%;
            }	
            @media only screen and (max-width: $tablet-l){
                width: 55%;
            }
            @media only screen and (max-width: $tablet-m){
                width: 75%;
            }	
            @media only screen and (max-width: $mobile-m){
                width: 90%;
            }	
            @media only screen and (max-width: $mobile-xs){
                width: 100%;
            }	
        }
    }
    .borde{
        width: 90%;
        border: solid 2px #000;
        border-radius: 0px 0px 2px 2px;
        border-top: none;
        box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
        display: flex;
        justify-content: center;

        .boton{
            background-color: #fff;
            width: 15rem;
            position: relative;
            bottom: -30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.5rem 0rem;
            .btn-agendar{
                background-color: var(--orange-color);
                font-size: var(--medium-text);
                margin: 0;
                padding: 0.5em 1em;
                font-style: italic;
            }
        }
    }
}

.descargables-template{
    margin: 2rem 0;
}

.entradas-template, .descargables-template{
    width: 100%;
    padding: 0 5%;
    margin-top: 2rem;
    .title{
        font-size: var(--biger-text);
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    .layout-contenido{
        display: grid;
        grid-template-columns: minmax(0, 70%) minmax(0, 1fr);
        grid-column-gap: 6vw; 
        grid-row-gap: 5vh;
        align-items: start;
        @media only screen and (max-width: $tablet-l){
            grid-template-columns: minmax(0, 1fr);
            grid-column-gap: 6vw; 
            grid-row-gap: 5vh;
            .left-bar{
                grid-row: 1 / 2;
                .links{
                    margin-bottom: 1rem !important;
                }
            }

        }	
        &.descargas{
            grid-template-columns: minmax(0, 1fr);
        }
        .contenido{
            display: flex;
            flex-direction: column;
            &.entradas{
                display: grid;
                grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) ;
                grid-column-gap: 7vh; 
                grid-row-gap: 5vh;
                @media only screen and (max-width: $tablet-s){
                    grid-template-columns: minmax(0, 1fr);
                }	
            }
            &.descargas{
                display: grid;
                grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
                grid-column-gap: 7vh; 
                grid-row-gap: 5vh;
                @media only screen and (max-width: $tablet-s){
                    grid-template-columns: minmax(0, 1fr);
                }	
            }
            .entrada{
                display: flex;
                box-shadow: 0 0 2px rgba(0,0,0,.125), 0 2px 4px rgba(0,0,0,.2);
                padding: 1.2rem;
                .contenido{
                    width: 100%;
                    .imagen-entrada{
                        width: 100%;
                        height: 25vh;
                        display: flex;
                        justify-content: center;
                        overflow: hidden;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .info{
                        margin-top: 1rem;
                        h2{
                            font-size: var(--medium-text);
                            font-weight: 600;
                        }
                        h3{
                            font-size: var(--small-text);
                            font-weight: 600;
                            font-style: italic;
                        }
                        p{
                            font-size: var(--smaller-text);
                            word-break: break-all;
                        }
                    }
                    
                    .vermas{
                        background-color: var(--orange-color);
                        margin: 0;
                        width: 50%;
                        font-style: italic;
                    }
                }
            }
            .img-entrada{
                width: 100%;
                height: auto;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                position: relative;
                .adornos{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    .cinta{
                        position: absolute;
                        display: grid;
                        grid-column-gap: 0;
                        height: 3rem;
                        width: 50%;
                        margin: 0;
                        img{
                            position: relative;
                            height: 100%;
                        }
                        .rectangulo{
                            height: 100%;
                            width: 100%;
                            background-color: var(--orange-color);
                            font-size: var(--small-text);
                            color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .cinta:nth-child(1){
                        top: -1.5rem;
                        right: 0;
                        grid-template-columns: 1.5rem 1fr;
                        
                    }
                }
                img{
                    height: auto;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            .info-entrada{
                margin-top: 2rem;
                h2{
                    font-size: var(--large-text);
                    font-weight: 600;
                }
                h3{
                    font-size: var(--medium-text);
                    font-weight: 600;
                    &.subtitulo{
                        font-style: italic;
                    }
                }
                p, span, a{
                    font-size: var(--small-text) !important;
                    font-family: 'Raleway', Arial, sans-serif !important;
                }
            }
        }
        .left-bar{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .recomendados{
                .title{
                    font-size: var(--larger-text);
                    text-transform: capitalize;
                    margin-bottom: 1rem;
                }
            }
            .descargables{
                display: flex;
                flex-direction: column;
                box-shadow: 0 0 2px rgba(0,0,0,.125), 0 2px 4px rgba(0,0,0,.2);
                padding: 1rem;
                margin: 1rem 0;
                h4{
                    font-size: var(--medium-text);
                    font-weight: 600;
                    margin: 0.5rem 0;
                }
            }
            .links{
                margin: 0;
                li{
                    list-style: none;
                    border-bottom: solid 2px #000;
                    margin-bottom: 2rem;
                }
                .down{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    img{
                        width: 30px;
                        height: 30px;
                        transform: rotate(90deg);
                    }
                }
            }
        }
        .bottom-entrada{
            display: flex;
            flex-direction: column;

            .fila{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
            
            .redes{
                p{
                    font-size: var(--smallest-text);
                    text-transform: capitalize;
                    margin-bottom: 0.25rem;
                }
                a{
                    margin-left: 0.5rem;
                    img{
                        width: 30px;
                    }
                }
            }
        }
    }

} 

.copy{
    display: flex;
    width: 100%;
    justify-content: center;
    p{
        font-size: var(--smallest-text);
        font-weight: 600;
    }
}

.paginador{
    display: flex;
    justify-content: center;
    .pagination{
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
        li{
            width: var(--bigest-text);
            height: var(--bigest-text);
            border: 1px solid #000;
            font-size: var(--medium-text);
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0.5rem 0.25rem;
            &:hover{
                background-color: #959595;
                color: #ffffff;
                a{
                    color: #ffffff;
                }
            }
            &.active{
                background-color: var(--orange-color);
                a{
                    color: #fff;
                }
                border: none;
            }
            &.prev, &.first{
                transform: rotate(180deg);
                justify-content: flex-end;
            }
            &.next, &.prev, &.first, &.last{
                width: var(--larger-text);
                border: none;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                img{
                    width: 30px;
                    height: 30px;
                }
                &:hover{
                    background-color: #d6d6d6;
                }
            }
            &.disabled{
                &:hover{
                    background-color: transparent;
                }
                opacity: 0.2;
            }
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                width: 100%;
                height: 100%;
                &:hover{
                    background-color: transparent;
                }
            }
        }
    }
}