.banner-home, .banner{
	.imgFondo{
		.btn-banner{
			position: absolute;
			top: 15%;
			left: 8%;
			font-size: var(--smaller-text);;
			padding: 0.2rem;
			box-shadow: 0px 2px 6px rgba(5, 0, 6, 0.23);
            margin-top: 0.5rem;
            width: auto;
		}
	}
}

.fancybox-content {
    padding: 15px !important;
    @media only screen and (min-width: $tablet-m){
        display: inline-flex !important;
    }

    @media only screen and (min-width: $tablet-l){
        padding: 30px !important;
    }

    @media only screen and (min-width: $laptop-m){
        padding: 35px;
    }

    @media only screen and (min-width: $laptop-l){
        padding: 44px;
    }
}

.home{
	.beneficios{
        padding-bottom: 1rem;
		.titulo-beneficios{
            margin-bottom: 2em;
        }
        .galeria{
            margin-bottom: 0.5em;
            .img{
                position: relative;
                img{
                    width: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        .btn-vermas{
            color: #fff;
            font-size: var(--medium-text);
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
            font-weight: 800;
            background-color: var(--orange-color);
            text-transform: uppercase;
            box-shadow: 0px 9px 18px rgba(5, 0, 6, 0.23);
            border: none;
            margin-top: 0.5rem;
        }
    }
}   

.gal-modal{
    background-color: rgb(56, 56, 56) !important;
    opacity: 1;
    width: 85%;
    max-height: 90%;
    height: auto;
    padding: 2rem 0.5rem !important;
    .cont-modal{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;

        .img-modal{
            width: 85%;
            height: auto;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            position: relative;
            .adornos{
                position: absolute;
                width: 100%;
                height: 100%;
                .cinta{
                    position: absolute;
                    display: grid;
                    grid-column-gap: 0;
                    height: 1.5rem;
                    width: 50%;
                    img{
                        position: relative;
                        height: 100%;
                    }
                    .rectangulo{
                        height: 100%;
                        width: 100%;
                        background-color: #EC5125;
                    }
                }
                .cinta:nth-child(1){
                    top: -0.5rem;
                    right: 0;
                    grid-template-columns: 1.5rem 1fr;
                    
                }
                .cinta:nth-child(2){
                    bottom: -0.5rem;
                    left: 0;
                    grid-template-columns: 1fr 1.5rem;
                }
            }
            img{
                height: auto;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .inf-modal{
            width: 85%;
            margin-top: 1em;
            margin-bottom: 1em;
            height: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .texto{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .titulo-item{
                    color: #fff;
                    font-weight: 700;
                    text-align: right;
                    line-height: 1;
                    font-size: var(--large-text);
                }
                span{
                    text-align: right;
                    color: #fff;
                    display: block;
                    width: 100%;
                    font-weight: 700;
                    font-size: var(--medium-text);
                    margin-bottom: 0.5rem;
                }
                .cont-info{
                    position: relative;
                    width: auto;
                    height: auto;
                    display: grid;
                    grid-template-columns: 2em 1fr;
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 0;
                    grid-row-gap: 0.5rem;
                    margin-bottom: 1rem;
                    img{
                        position: relative;
                        justify-self: end;
                        height: 100%;
                    }
                    p{  
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        line-height: 1.2;
                        text-align: right;
                        background-color: var(--orange-color);
                        color: #fff;
                        position: relative;
                        font-size: var(--smaller-text);
                        font-weight: 700;
                        height: 100%;
                        padding: 0 .5rem 0 0;
                        margin: 0 0 0.5rem 0;
                        img{
                            width: 1.5em;
                            margin-right: 0.5em;
                        }
                    }
                    
                }
            }
            .texto-secundario{
                line-height: 1;
                text-align: right;
                color: #fff;
                position: relative;
                font-size: var(--small-text);
                font-weight: 500;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
        
                .botonesFlechas{
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    width: 40%;
                    margin-bottom: 0.5rem;
                    button{
                        border-radius: 50%;
                        background-color: #EC5125;
                        color: #fff;
                        padding: 0;
                        width: 30px;
                        height: 30px;
                        font-size: var(--small-text);
                        font-weight: 700;
                        outline: none;
                    }
                }
            }
        }

        @media only screen and (min-width: $mobile-m){
            .inf-modal{
                .texto-secundario{
                    .botonesFlechas{
                        width: 30%;
                    }
                }
            }
        }

        @media only screen and (min-width: $tablet-m){
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .img-modal{
                width: 50%;
            }
            .inf-modal{
                margin: 0;
                width: 40%;
                .texto{
                    .titulo-item{
                        font-size: var(--medium-text);
                    }
                    span{
                        font-size: var(--small-text);
                    }
                    .cont-info{
                        p{
                            font-size: var(--smallest-text);
                        }
                    }
                }
                .texto-secundario{
                    font-size: var(--smaller-text);
                    .botonesFlechas{
                        margin: 0;
                    }
                }
            }
        }

        @media only screen and (min-width: $tablet-l){
            .inf-modal{
                height: 100%;
                .texto{
                    .titulo-item{
                        font-size: var(--large-text);
                    }
                    span{
                        font-size: var(--medium-text);   
                    }
                    .cont-info{
                        p{
                            font-size: var(--smaller-text);
                        }
                    }
                }
                .texto-secundario{
                    font-size: var(--small-text);
                    .botonesFlechas{
                        button{
                            width: 40px;
                            height: 40px;
                            font-size: var(--medium-text);
                        }
                    }
                }
            }
        }

        @media only screen and (min-width: $laptop-m){
            .inf-modal{
                .texto{
                    .titulo-item{
                        font-size: var(--largest-text);
                    }
                    span{
                        font-size: var(--large-text);   
                    }
                    .cont-info{
                        p{
                            font-size: var(--small-text);
                        }
                    }
                }
                .texto-secundario{
                    font-size: var(--medium-text);
                }
            }
        }

        @media only screen and (min-width: $pc-s){
            .inf-modal{
                .texto{
                    .titulo-item{
                        font-size: var(--biger-text);
                    }
                    span{
                        font-size: var(--larger-text);   
                    }
                    .cont-info{
                        p{
                            font-size: var(--medium-text);
                        }
                    }
                }
                .texto-secundario{
                    font-size: var(--large-text);
                    button{
                        width: 50px;
                        height: 50px;
                        font-size: var(--medium-text);
                    }
                }
            }
        }

        
    }
}

.fancybox-close-small{
    svg{
        path{
            fill: #fff !important;
        }
    }
}