
.fila-contacto{
    display: grid;
    grid-template-columns: 65% minmax(0, 1fr);
    grid-column-gap: 2vw;
    padding: 4vw;
    @media only screen and (max-width: $tablet-s){
        grid-template-columns: 100%
    } 
}

.btn-enviar{
    margin-left: 1rem;
}
.banner-contacto{
    /* Set a specific height */
    height: auto;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .filtro{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(rgba(0, 0, 0, 0.507) 15%, rgba(0, 0, 0, 0.555) 35%, rgba(0, 0, 0, 0.63) 50%);
        &.filtro-blog{
            background-image: radial-gradient(rgba(0, 0, 0, 0.322) 15%, rgba(0, 0, 0, 0.397) 35%, rgba(0, 0, 0, 0.418) 50%);
        }
    }

    .texto {
        margin: 9rem 0 10rem 0;
        @media only screen and (max-width: $laptop-s){
            margin: 6rem 0 8rem 0;
        }	
        @media only screen and (max-width: $tablet-m){
            margin: 3rem 0 5rem 0;
            span{
                max-width: 80%;
            }
        }	
        @media only screen and (min-width: $mobile-xs){
            font-size: var(--bigest-text);
        }	
        
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-align: center;
        color: white;
        font-size: var(--biger-text);
        text-transform: uppercase;
        p, span{
            font-weight: 800;
            margin: 0 0.5rem 0 0.5rem;
            text-shadow: 0.2rem 0.2rem 0.5rem rgba(59, 59, 59, 0.685);
        }
        span{
            background: var(--orange-color);
            background: linear-gradient(180deg, #fa921c 0%, #eb8713 50%, #e2820d 100%);
            box-shadow: 0px 9px 18px rgba(5, 0, 6, 0.23);
            border: none;
            padding: 0rem 1rem 0rem 1rem;
            border-radius: 0.2em;
            max-width: 85%;
        }
    }
}

.formulario{
    margin-top: 3rem;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-items: center;
    .patterns{
        opacity: 0.4;
        justify-self: normal;
    }

    .cotizacion{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 75%;
        align-items: flex-start;
        
        .titulo{
            h2{
                color: #292929;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1.2;
                font-size: var(--biger-text);
                text-align: center;
                margin-bottom: 1.5rem;
            }
        }
        .formul{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 ;
            margin: 0;
            margin-bottom: 2rem;
            input, textarea{
                font-family: 'Raleway', Arial, Helvetica, sans-serif !important;
                border-top: none !important;
                border-right: none !important;
                border-left: none !important;
                box-shadow: none !important;
                border-color: #757575 !important;
                font-size: var(--small-text) !important;
                color: #292929 !important;
                padding: 0;


                &:placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #292929 !important;
                    opacity: 1; /* Firefox */
                    font-family: 'Raleway', Arial, Helvetica, sans-serif !important;
                }
    
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                     color: #292929 !important;
                }
    
                &:-ms-input-placeholder { /* Microsoft Edge */
                      color: #292929 !important;
                }
            }

            select{
                color: #757575 !important;
                font-family: 'Raleway', Arial, Helvetica, sans-serif !important;
                border-top: none !important;
                border-right: none !important;
                border-left: none !important;
                box-shadow: none !important;
                border-color: #757575 !important;
                font-size: var(--small-text) !important;
                padding: 0 24px 0 0;

                option{
                    color: #292929 !important;
                    font-weight: 400;
                }
            }

            .campos{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 4vw;
                grid-row-gap: 1.5vh;
                padding-bottom: 1rem; 
                .two-columns{
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }
            .boton{
                display: flex;
                justify-content: center;
                .btn-enviar{
                    color: #fff;
                    font-size: var(--medium-text) !important;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    font-style: oblique;
                    font-weight: 400;
                    box-shadow: 0px 9px 18px rgba(5, 0, 6, 0.23);
                    border: none;
                    margin-top: 0.5rem;
                    span{
                        color: #fff;
                    }
                    @media only screen and (min-width: $tablet-s){
                        font-size: var(--small-text);
                    }
                }
                @media only screen and (min-width: $tablet-s){
                    justify-content: flex-start;
                }
            }
        }

        .info-contacto{
            width: 100%;
            display: flex;
            justify-content: center;
            .oficinas{
                position: relative;
                padding-left: 2.5rem;
                .img{
                    width: 20px;
                    position: absolute;
                    left: 0.3rem;
                    top: 0rem;
                    &.home{
                        top: 0.5rem;
                    }
                }
                .texto{
                    ul{
                        width: 100%;
                        li{
                            margin-left: 0;
                        }
                    }
                }
                
                ul{
                    list-style: none;
                    li {
                        position: relative;
                        padding-left: 1rem;
                        a{
                            position: relative;
                            &:before {
                                content: "\2022";
                                color: #ec5125;
                                font-weight: bold;
                                display: inline-block;
                                width: 1em;
                                margin-left: -1em;
                            }
                        }
                    }
                }
            }
            .direccion{
                position: relative;
                padding-left: 2.5rem;
                .img{
                    width: 20px;
                    position: absolute;
                    left: 0.3rem;
                    top: 0rem;
                    &.home{
                        top: 0.5rem;
                    }
                }
                .texto{
                    ul{
                        width: 100%;
                        li{
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        .info-copy{
            padding-top: 2rem;
            padding-left: 1rem;
            p{
                color: #292929;
                font-size: var(--smaller-text);
                font-weight: 500;
            }
        }
    }

    @media only screen and (max-width: $laptop-l){
        .cotizacion{
            width: 90%;
        }
    }

    @media only screen and (max-width: $tablet-l){
        grid-template-columns: 75% 25%;
        .cotizacion{
            width: 90%;
            .formul{
                .campos{
                    grid-template-columns: repeat(1, 1fr);
                    grid-column-gap: 0;
                    .two-columns{
                        grid-column-start: 1;
                        grid-column-end: 1;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: $tablet-m){
        grid-template-columns: 100% 0%;
        .cotizacion{
            width: 90%;
            .formul{
                .campos{
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 4vw;
                    .two-columns{
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: $mobile-l){
        grid-template-columns: 100% 0%;
        .cotizacion{
            width: 90%;
            .formul{
                .campos{
                    grid-template-columns: repeat(1, 1fr);
                    grid-column-gap: 0;
                    .two-columns{
                        grid-column-start: 1;
                        grid-column-end: 1;
                    }
                }
            }
        }
        .info-contacto{
            flex-direction: column;
            .oficinas{
                margin-bottom: 2rem;
            }
        }
    }

    
}

