.financiamiento{
    @media only screen and (min-width: 640px){
        padding: 2.5rem 1rem 0.5rem 1rem !important;
    }
}
.empresas{
    margin-bottom: 3em;
    @media only screen and (max-width: $tablet-m){
        margin-bottom: 1em;
    }
    .financiamiento-empresa{
        margin: 1em 0 1em 0;
        padding: 1em;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        .texto{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .principal{
                .sub-titulo{
                    font-size: var(--medium-text);
                    text-align: left;
                    color: #292929;
                    font-weight: bolder;
                }
                .cont{
                    font-size: var(--small-text);
                    text-align: left;
                    color: #292929;
                }
            }
            .secundario{
                .sub-titulo{
                    font-size: var(--medium-text);
                    text-align: left;
                    color: #292929;
                    font-weight: bolder;
                }
                .list{
                    font-size: var(--small-text);
                    text-align: left;
                    color: #292929;
                    margin-left: 0.3em;
                    .li{
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        p{
                            display: list-item;
                            margin-left: 1.8em;
                            margin-bottom: 0;
                        }
                        img{
                            width: 1.2em;
                            margin-top: 0.3em;
                        }
                    }
                }

            }
            .contacta{
                margin-top: 1rem;
                color: #fff;
                font-size: var(--small-text);
                padding: .4em;
                font-weight: 600;
                background-color: var(--orange-color);
                text-transform: uppercase;
                box-shadow: 0px 9px 18px rgba(5, 0, 6, 0.23);
                border: none;
            }
        }
        .imagen{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @media only screen and (max-width: $tablet-m){
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            margin: 0em 0 1em 0;
            .texto, .imagen{
                width: 100%;
            }
            .imagen{
                margin-bottom: 2rem;
                width: 65%;
            }
        }
    }

    .right-empresa{
        @media only screen and (max-width: $tablet-m){
            flex-direction: column;
        }
        .texto{
            align-items: flex-end;
            .principal{
                .sub-titulo{
                    text-align: right;
                }
                .cont{
                    text-align: right;
                }

            }
            .secundario{
                .sub-titulo{
                    text-align: right;
                }
                .list{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .li{
                        text-align: right;
                        p{
                            text-align: right;
                        }
                    }
                }

            }
        }
    }
}    