footer{
	background-color: #fff;
	padding: 2rem 0rem;
	@media only screen and (min-width: $laptop-s){
		padding: 3rem 0rem;
	}	
	.titulo{
		font-weight: 500;
		color: var(--orange-color);
		text-transform: uppercase;
		padding-bottom: 1.5rem;
		padding: 0em .625rem;
		font-size: var(--biger-text);
	}
	.info-copy{
		padding-top: 2rem;
		padding-left: 1rem;
		p{
			color: #292929;
			font-size: var(--smallest-text);
			font-weight: 500;
		}
	}
	form{
		input, textarea{
			font-family: 'Raleway', Arial, Helvetica, sans-serif !important;
			border-top: none !important;
			border-right: none !important;
			border-left: none !important;
			box-shadow: none !important;
			border-color: #757575 !important;
			font-size: var(--small-text) !important;
			&:placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				color: #292929 !important;
				opacity: 1; /* Firefox */
				font-family: 'Raleway', Arial, Helvetica, sans-serif !important;
			}

			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			 	color: #292929 !important;
			}

			&:-ms-input-placeholder { /* Microsoft Edge */
			  	color: #292929 !important;
			}
		}
		.boton{
			display: flex;
			justify-content: center;
			.btn-enviar{
				color: #fff;
				font-size: var(--medium-text);
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				font-weight: 500;
				box-shadow: 0px 9px 18px rgba(5, 0, 6, 0.23);
				border: none;
				margin-top: 0.5rem;
				span{
					color: #fff;
				}
				@media only screen and (min-width: $tablet-s){
					font-size: var(--small-text);
				}
			}
			@media only screen and (min-width: $tablet-s){
				justify-content: flex-start;
			}
		}
		
	}
	.footer-form{
		.fila{
			position: relative;
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			@media only screen and (min-width: $mobile-l){
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
	.footer-info{
		padding-left: 2rem;
		ul {
			li {
				a, .telefono{
					position: relative;
					padding-left: 2.5rem;
					.img{
						width: 20px;
					    position: absolute;
					    left: 0.3rem;
					    top: 0rem;
					    &.home{
					    	top: 0.5rem;
					    }
					}
					.texto{
						ul{
							width: 100%;
							li{
								margin-left: 0;
							}
						}
					}
					
					ul{
						list-style: none;
						li {
							position: relative;
							padding-left: 1rem;
							a{
								position: relative;
								&:before {
									content: "\2022";
									color: var(--orange-color);
									font-weight: bold;
									display: inline-block;
									width: 1em;
									margin-left: -1em;
								}
							}
						}
					}
				}
			}
		}
	}
}