
.header-site{
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 10;
	@include breakpoint(small only) {
		display: none;
	}
	.header-sticky{
		width: 100%;
		height: auto;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
		background-color: transparent;
		.logo{
			background-image: url('../img/logo-solarek-blanco.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
			img{
				height: 80px;
			}
		}
		.menu-header{
			ul{
				padding-top: 1.2rem;
				padding-right: 2.5rem;
				li{
					font-size: var(--small-text);
					&.banderas{
						margin-left: 0.5rem;
						line-height: 1.2rem;
						color: #fff;
						padding: 0.6rem;
						a{
							font-size: var(--small-text);
							padding-top: 0;
							padding-bottom: 0;
							img{
								width: 26px;
								
							}
							&.selected,&:focus, &:hover{
								img{
									filter: drop-shadow(1px 1px 1px #4d4d4d);
									transform: scale(1.1);
								}
							}
						}
					}
					&.iconos-nav{
						a{
							padding: 0.6rem 0.3rem;
							&:before{
								border-color: transparent !important;
							}
							&:hover{
								color: #000;
								.svg{
									fill: #000;
								}
								-webkit-transition: all 0.5s ease;
								transition: all 0.5s ease;
							}
							.svg{
								-webkit-transition: all 0.5s ease;
								transition: all 0.5s ease;
								fill: #fff;
								width: calc(var(--small-text) * 1.4);
								height: calc(var(--small-text) * 1.4);
							}
						}
					}
					a{
						@media only screen and (max-width: $tablet-l){
							padding: 0.7rem 0.5rem;
						}
						color: #fff;
						position: relative;
						&:before{
							border-top: 2px solid transparent;
						    content: " ";
						    width: 50%;
						    position: absolute;
						    left: 50%;
						    -ms-transform: translateX(-50%);
						    transform: translateX(-50%);
						    bottom: 0rem;
						    z-index: 0;
						    -webkit-transition: all 0.5s ease;
							transition: all 0.5s ease;
						}

						&:hover, &:focus{
							&:before{
								border-color: #000;
								-webkit-transition: all 0.5s ease;
								transition: all 0.5s ease;
							}
						}
						&.active{
							&:before{
								border-color: #fff;
								-webkit-transition: all 0.5s ease;
								transition: all 0.5s ease;
							}
						}
					}
				}
			}
		}
		&.active{
			position: relative;
		}
		&.is-stuck, &.active, &.activo{
			padding-top: 0rem;
			box-shadow: 0px 2px 9px rgba(5,0,6,0.35);
			background-color: #fff;
			.logo{
				background-image: url('../img/logo.png');
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}
			.menu-header{
				ul{
					li{
						&.banderas{
							margin-left: 0.5rem;
							color: #000;
							transition: all 0.5s ease;
							line-height: 1.5rem;
							a{
								padding: 0.3rem 0.4rem;
								img{
									width: 25px;
								}
							}
						}

						&.iconos-nav{
							a{
								.svg{
									fill: #000;
									width: calc(var(--smaller-text) * 1.4);
									height: calc(var(--smaller-text) * 1.4);
								}
							}
						}
						a{
							-webkit-transition: all 0.5s ease;
							transition: all 0.5s ease;
							color: #292929;
							font-size: calc(var(--smaller-text) * 1.1);
							&.active{
								&:before{
									-webkit-transition: all 0.5s ease;
									border-color: #e59d2b;
									bottom: 0.1rem;
								}
							}
						}
					}
				}
			}
		}
	}
}


.small-header{
	@include breakpoint(small only) {
		display: block;
	}
	@include breakpoint(medium up) {
		display: none;
	}
	&.is-stuck{
		z-index: 11;
	}
	.menu-icon{
		&:after{
			background: #292929;
    		box-shadow: 0 7px 0 #292929, 0 14px 0 #292929;
		}
	}
	.title-bar-title{
		color: #292929;
	}
	.top-bar, .cont-menu{
		padding: 0rem;
	}
	.title-bar{
		/*background-color: #ff2345;*/
		background-color: #fbfbfb;
		min-height: 80px;
		box-shadow: 0px 2px 11px rgba(90, 90, 90, 0.53);
		.logo{
			@include horizontal-center;
	    	background-size: 70%;
		    background-position: center;
		    background-repeat: no-repeat;
		    background-image: url(../img/logo.png);
		    height: 100%;
		    width: 200px;
		}
	}
	.phone{
		float: right;
		position: absolute;
		right: 15px;
		top: 22px;
		width: 35px;
		height: 35px;
		/*background-color: #4994c1;*/
		background-color: #ff2345;
		border-radius: 50%;
		text-align: center;
		line-height: 35px;
		color: #fff;
		&:hover, &:focus {
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
			background-color: #40b179;
		}
	}
	.menu-small{
		li {
			a {
				background-color: #fff;
				color: #fbfbfb;
				&:hover, &:focus {
					color: #00a652;
				}
			}
			&.active{
				a {
					background-color: #00a652;
					color: #fff;
				}
			}
		}
	}
	/*&.is-stuck {
		.title-bar{
			background-color: rgba(18, 86, 164, 0.90);
		}
	}*/
}

.curtain-menu-open{
	.title-bar{
		box-shadow: none;
	}
}

$curtain-menu-color: #fff;
$curtain-menu-text-color: #292929;
$curtain-menu-font-size: rem-calc(25);
$curtain-menu-button-size: rem-calc(38);

.curtain-menu {
    display: none;
    z-index: 101;
    position: fixed;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    height: 100%;
    width: 100vw;
	pointer-events: none;
	@media only screen and (min-width: $tablet-s){
		display: none;
	}	
}

.curtain-menu-wrapper {
    display: flex;
    //justify-content: center;
    //align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	transform: translateY(-100%);
	opacity: 0;
    visibility: hidden;
	padding-top: 2vh;
	transition: transform 0.3s ease-out 0.5s, opacity 0.3s ease-out;
    .curtain-menu-list {
    	width: 100%;
        li {
            width: 100%;
            font-weight: 100;
            font-size: var(--largest-text);
            min-height: $curtain-menu-font-size;
            padding: 0.3rem 1rem;
            text-align: center;
            justify-content: center;
            transition: all 0.2s ease-in;
			text-transform: uppercase;
			
            > a{
				.icon{
					width: 20px;
				    margin-right: 0.5rem;
				    position: relative;
				    top: 0px;
				    display: inline-block;
					svg{
						width: 100%;
						height: 100%;
						display: block;
					}
					path{
						fill: #ff0000 !important;
					}
				}
				&.sin{
					.icon{
						margin-right: 0px !important;
					}
				}
            }
            ul {
            	a{
            		color: $curtain-menu-color;
            		position: relative;
            		padding: 0.85rem 0.4rem;
            		&:before{
						border-bottom: 1px solid #86a7cb;
						content: " ";
						width: 55%;
						bottom: -0.2rem;
				        z-index: 0;
				        @include horizontal-center;
	                }
            	}
            	li {
            		&:last-child() {
			        	a {
			        		&:before{
			        			border: none;
			        		}
			        	}
			        }
            	}
            }
            a {
                color: $curtain-menu-text-color;
                justify-content: center;
            }

			&.banderas{
				display: flex;
				margin-left: 0.5rem;
				color: #000;
				transition: all 0.5s ease;
				line-height: 1.5rem;
				align-items: center;
				font-weight: 400;
				a{
					padding: 0rem 0.4rem;
					&.active{
						background-color: #000;
						color: #fff;
					}
					img{
						width: 25px;
					}
					&:hover {
						transition: all 0.5s ease-in-out;
						transition-duration: 0.5s;
						background: #292929;
						color: $curtain-menu-color;
						path{
							fill: #fff !important;
						}
					}
				}
			}

			&.iconos-nav{
				display: flex;
				a{
					padding: 0.2rem 0.4rem;
					.svg{
						fill: #000;
						width:var(--largest-text);
						height:var(--largest-text);
					}
					&:hover {
						transition: all 0.5s ease-in-out;
						transition-duration: 0.5s;
						background: #292929;
						color: $curtain-menu-color;
						path{
							fill: #fff !important;
						}
					}
				}
			}
        }
    }
    .is-dropdown-submenu{
    	width: 100%;
    	right: 0px !important;
    }
}

.curtain-menu .curtain {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex 0.45s ease-in-out 0s;
    &:nth-child(2) {
        flex:1 0 100%;
		background: transparent;
    }
    &:nth-child(odd){
		background: $curtain-menu-color;
    }
}

.curtain-menu-button {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0rem;
    z-index: 5;
}

.curtain-menu-button-toggle {
    width: $curtain-menu-button-size;
    height: $curtain-menu-button-size;
    border-radius: 5000px;
    background: $curtain-menu-text-color;
    position: relative;
    //box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border: 1px solid $curtain-menu-color;
    cursor: pointer;
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 3px;
        background: $curtain-menu-color;
        transition: transform 0.3s;
    }
    .bar1{
        transform: translateX(-50%)translateY(-50%)rotate(-90deg);
    }
    .bar2{
        transform: translateX(-50%)translateY(-50%)rotate(-180deg);
    }
    &:hover {
        background: $curtain-menu-color;
        box-shadow: none;
        div{
            background: $curtain-menu-text-color;
        }
    }
    &:active {
        box-shadow: none;
    }
}

.curtain-menu-open {
    .logo-small{
        img {
            width: 200px;
            background-image: url('../img/logo-footer.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .curtain:nth-child(2) {
        flex: 0 0 0%;
    }
    .curtain-menu-wrapper {
        transform: translateY(0%);
        visibility: visible;
		pointer-events:all;
		opacity: 1;
		transition: transform 0.3s ease-out 0.5s, opacity 0.5s ease-out 0.3s;
    }
    .curtain-menu-button-toggle {
        .bar1{
            transform: translateX(-50%)translateY(-50%)rotate(-45deg);
        }
        .bar2{
            transform: translateX(-50%)translateY(-50%)rotate(-135deg);
        }
    }
}


.menu-navigation-header {
	-webkit-box-shadow: 7px 7px 11px -8px rgba(0,0,0,0.62);
	-moz-box-shadow: 7px 7px 11px -8px rgba(0,0,0,0.62);
	box-shadow: 7px 7px 11px -8px rgba(0,0,0,0.62);
	position: relative;
	height: 4rem;
	background-color: #fbfbfb;
	
	.ico {
		width: 17px; display: inline-block;
		img {
			background-size:contain;
			background-repeat: no-repeat;
			background-position: center;
			margin-right: 4px;
		}
	}

	ul {
		@include vertical-center;

		li {
			padding-right: 14px;
			a {
				color: #000!important;
				font-size: var(--medium-text);
			}
		}
	}
}

