.home{
	position: relative;
	.beneficios{
		padding: 2rem 0rem;
		@media only screen and (min-width: $tablet-s){
			padding: 3.5rem 0rem;
		}
		.titulo-beneficios{
			margin-bottom: 1em !important;
			@media only screen and (min-width: $tablet-m){
				margin-bottom: 2em;
			}
			.titulo{
				color: #292929;
				text-transform: uppercase;
				font-weight: 700;
				line-height: 1.2;
				margin-bottom: 1rem;
				font-size: var(--biger-text);
				@media only screen and (min-width: $tablet-s){
					margin-bottom: 0.8rem;
				}
				
			}
			.btn-beneficio{
				color: var(--orange-color);
				border-color: var(--orange-color);
				border-width: 3px;
				font-weight: 700;
				border-radius: 2px;
				padding-top: 0.55rem;
				padding-bottom: 0.55rem;
				font-size: var(--smaller-text);
				span{
					position: relative;
					z-index: 2;
				}
				&:before{
					background-color: var(--orange-color);
				}
				&:hover{
					-webkit-transition: all 0.5s ease;
        			transition: all 0.5s ease;
					color: #fff !important;
				}
				&:focus{
					color: var(--orange-color);
				}
			}
		}
		.list-beneficios{
			.texto{
				border-radius: 10px;
				background: #fff;
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
				padding: 0.5rem;
				@media only screen and (min-width: $tablet-m){
					min-height: 300px;
					padding: 1.2rem 2.5rem 1rem 1.5rem;
				}
				.img{
					width: 55px;
					display: block;
					padding-bottom: 1.5rem;
					svg{
						fill: var(--orange-color);
					}
				}
				.titulo{
					color: #292929;
					font-weight: 700;
					text-transform: uppercase;
				}
				p{
					color: #292929;
					line-height: 1.2;
					font-size: var(--small-text);
				}
				&:hover, &:focus{
					-webkit-transition: all 0.5s ease;
        			transition: all 0.5s ease;
					background-image: url('../img/fondo-degradado-home.jpg');
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					.img{
						svg{
							fill: #fff;
						}
					}
					.titulo{
						color: #fff;
					}
					p{
						color: #fff;
					}
				}
			}
		}
	}
	.financiamiento{
		padding: 1rem 0rem;
		@media only screen and (min-width: $tablet-s){
			padding: 2.5rem 0rem;
		}	
		@media only screen and (min-width: $tablet-l){
			padding: 4rem 0rem;
		}	
		.titulo{
			margin-top: 0rem;
			@media only screen and (min-width: $tablet-s){
				margin-top: 0;
			}
			color: #292929;
			font-weight: 700;
			text-align: left;
			line-height: 1.1;
			font-size: var(--biger-text);
			padding: 0em .625rem;
			@media only screen and (min-width: $tablet-l){
				padding: 0;
				text-align: center;
			}	
		}
		.list-financiamiento{
			padding-top: 0rem;
			@media only screen and (min-width: $tablet-s){
				padding-top: 2rem;
			}	
			.texto{
				img{
					height: 75px;
					display: block;
					margin: 1rem auto 1.5rem;
					object-fit: contain;
				}
				p{
					font-size: var(--smaller-text);
					color: #292929;
					font-weight: 700;
					padding: 0em 1.5em;
					text-align: justify;
					@media only screen and (min-width: $tablet-s){
						text-align: justify;
						padding: 0em;
					}	
				}
			}
		}
		.btn-financiamiento{
			color: #fff;
			font-size: var(--medium-text);
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			font-weight: 700;
			background-color: var(--orange-color);
			text-transform: uppercase;
			box-shadow: 0px 9px 18px rgba(5, 0, 6, 0.23);
			border: none;
			margin-top: 0.5rem;
		}
	}
	.consumo-basico{
		padding: 2rem 0rem;
		@media only screen and (min-width: $tablet-l){
			padding: 3rem 0rem;
		}	
		.titulo{
			color: #292929;
			font-weight: 700;
			text-align: center;
			line-height: 1.1;
			padding-bottom: 1rem;
			font-size: var(--biger-text);
		}
		.list-consumo{
			.tilt2{
				transform-style: preserve-3d;
			}
			.texto{
				position: relative;
				padding: 1rem 1.5rem;
				background: #fff;
				border-radius: 10px;
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
				.img{
					width: 110px;
					display: inline-block;
					padding-bottom: 0rem;
					transform: translateZ(50px);
					svg{
						width: 100%;
						fill: #000000;
					}
				}
				p{
					display: inline-block;
					text-align: left;
					padding-left: 1rem;
					font-size: var(--smallest-text);
					color: var(--orange-color);
					font-weight: 700;
					margin-bottom: 0rem;
					transform: translateZ(30px);
					span{
						font-size: var(--small-text);
						color: #000;
						transform: translateZ(80px);
					}
					@media only screen and (max-width: $tablet-s){
						font-size: var(--smaller-text);
						span{
							font-size: var(--medium-text);
						}
					}
				}
				&:hover, &:focus{
					-webkit-transition: all 0.5s ease;
        			transition: all 0.5s ease;
					background-image: url('../img/fondo-degradado-home.jpg');
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					.img{
						svg{
							fill: #fff;
						}
					}
					p{
						color: #fff;
						span{
							color: #fff;
						}
					}
				}
			}
		}
		.btn-consumo{
			color: #fff;
			font-size: var(--medium-text);
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			font-weight: 700;
			background-color: var(--orange-color);
			text-transform: uppercase;
			box-shadow: 0px 9px 18px rgba(5, 0, 6, 0.23);
			border: none;
			margin-top: 0.5rem;
		}
	}

	.casos-exito{
		padding: 4rem 0rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		height: auto;
		@media only screen and (max-width: $tablet-m){
			grid-template-columns: repeat(1, 1fr);
			padding: 3rem 0rem;
		}
		.texto{
			display: flex;
			flex-direction: column;
			justify-content: center;
			.titulo{
				color: #292929;
				font-size: calc(var(--colossal-text) * 1.3);
				text-align: center;
				line-height: 1.1;
				// span{
				// 	font-size: calc(var(--colossal-text));
				// 	@media only screen and (min-width: $tablet-l){
				// 		font-size: calc(var(--colossal-text)*2.35);
				// 	}
				// 	font-weight: 100;
				// }
			}
			.btn-exito{
				color: #fff;
				font-size: var(--medium-text);
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				font-weight: 700;
				background-color: var(--orange-color);
				text-transform: uppercase;
				box-shadow: 0px 9px 18px rgba(5, 0, 6, 0.23);
				border: none;
				align-self: center;
				margin: 1rem;
			}
		}
		.slide{
			position: relative;
			// display: flex;
			// flex-direction: column;
			// justify-content: center;
			// align-content: center;
			// width: 100%;
			.slider-casos{
				padding: 0.5rem;
				@media only screen and (min-width: $mobile-m){
					padding: 2rem;
				}
				@media only screen and (min-width: $tablet-m){
					padding: 0rem 0.5rem 0rem 0rem;
				}
				@media only screen and (min-width: 800px){
					padding: 0rem 1.5rem 0rem 0rem;
				}
				@media only screen and (min-width: $tablet-l){
					padding: 2rem 3rem 2rem 2rem;
				}
				// position: relative;
				// display: flex;
				// flex-direction: column;
				// width: 100%;
				// height: 100%;
				.item{
					position: relative;
					width: 100%;
					.img{
						//border: dotted green 6px;
						position: relative;
						img{
							background-position: center;
							background-repeat: no-repeat;
							background-size: cover;
							width: 100%;
						}
					}
					.texto{
						position: absolute;
						bottom: 1rem;
						right: 1.5rem;
						display: flex;
						align-items: flex-end;
						//border: solid red 6px;
						.titulo-item{
							color: #fff;
							font-weight: 700;
							text-align: right;
							margin-bottom: 0rem;
							line-height: 1;
							font-size: var(--largest-text);
						}
						span{
							text-align: right;
							color: #fff;
							display: block;
							width: 100%;
							font-weight: 700;
							font-size: var(--medium-text);
							margin-bottom: 0.5rem;
						}
						.cont-info{
							position: relative;
							width: auto;
							height: 5rem;
							display: grid;
							grid-template-columns: 2em 1fr;
							grid-template-rows: repeat(2, 1fr);
							grid-column-gap: 0;
							grid-row-gap: 1rem;
							img{
								position: relative;
								justify-self: end;
								height: 100%;
							}
							p{	
								display: flex;
								justify-content: center;
								align-items: center;
								position: relative;
								width: fit-content;
								line-height: 1;
								text-align: right;
								background-color: var(--orange-color);
								color: #fff;
								position: relative;
								font-size: var(--smaller-text);
								font-weight: 700;
								height: 100%;
								padding: 0 .5rem;
							}
						}
						@media only screen and (max-width: $mobile-l){
							.titulo-item{
								font-size: calc(var(--largest-text)*0.9);
							}
							span{
								font-size: calc(var(--medium-text)*0.9);
							}
							.cont-info{
								p{
									font-size: calc(var(--smaller-text)*0.9);
								}
							}
						}
					}
				}
			}
		}
	}

	.decide-invertir{
		padding: 2rem 0rem 2rem;
		@media only screen and (max-width: $tablet-l){
			padding: 0rem 0rem 0rem;
		}
		.titulo{
			color: var(--orange-color);
		    text-align: right;
		    font-weight: 500;
		    font-size: var(--biger-text);
		    line-height: 1;
			text-transform: uppercase;
			padding: 0em .625rem;
		}
		.menu{
			padding-top: 1.2rem;
			padding-left: 1.5rem;
			li{
				img{
					width: 20px;
					position: relative;
					top: -1px;
				}
				font-size: var(--medium-text);
				color: #292929;
				font-weight: 500;
				font-style: oblique;
			}
		}
	}

	.testimonios{
		padding: 2.5rem 0rem;
		@media only screen and (min-width: $tablet-l){
			padding: 3rem 0rem;
		}
		.titulo{
			text-align: center;
			color: #292929;
			font-weight: 500;
			padding-bottom: 1.3rem;
			font-size: var(--biger-text);
		}
		.texto-testimonio{
			p{
				font-weight: 500;
			    color: #292929;
			    text-align: center;
			    padding: 0rem 3rem;
			    font-size: var(--medium-text);
			    line-height: 1.3;
			    padding-bottom: 0.5rem;
			}
		}
		.imagenes{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			.img-testimonios{
				position: relative;
				width: 50%;
				@media only screen and (max-width: $tablet-m){
					width: 70%;
				}
				.slick-prev, .slick-next{
					width: 30px;
					height: 30px;
					top: 50%;
					&:before{
						display: none;
					}
					img{
						width: 100%;
						height: 100%;
						object-fit: contain;
						display: block;
						position: relative;
					}
				}
				.slick-prev{
					left: -10px;
				}
				.slick-next{
					right: -10px;
				}
				.img{
					outline: none;
					> img{
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
						display: block;
						margin: 0px auto;
						border: 4px solid #EC5125;
						border-radius: 50%;
						width: 45%;
						@media only screen and (max-width: $mobile-l){
							width: 60%;
						}
						@media only screen and (min-width: $tablet-l){
							width: 40%;
						}
					}
				}
			}
		}
	}
}