
h1, h2, h3, h4, h5, h6 {
	//font-family: 'Conv_Antipasto_regular';
}

body {	
    position: relative;
    height: auto !important;
    background-color: #fff !important;    
}

.button-group{
    .button{
        &.active{
            background-color: #44698c;
            color: #fefefe;
        }
    }
}

.off-canvas-content{
    background-color: #005199;
}

#resaltar-titulo{
    background-color: #4f7ea9;
    color: #fff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

a, input {
	outline: none;
}

input {
	box-shadow: none !important;
	border-color: #a7a7a6;
}

select {
	border-color: #a7a7a6;
}

html.is-reveal-open, html.is-reveal-open body{
    position: initial !important;
}

.reveal{
    outline: none !important;
}

.titulo1{
    color: #e82f82;
    position: relative;
    text-transform: uppercase;
    span {
        display: block;
        font-size: 1.5rem;
    }
    &:before {
        border-bottom: 1px solid #9d9d9c;
        position: absolute;
        content: " ";
        width: 55%;
        bottom: 0rem;
        z-index: 0;
    }
    &.t-home{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.titulo2{
    color: #e82f82;
    position: relative;
    text-transform: uppercase;
    &.t-home{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

