.header {
    h1 {
        text-indent: -9999px;
        background: url(../img/logo-color.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff;
        margin: 0px;
        height: 67px;
        a {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .header-menu {
        background-color: #fff;
        min-height: 67px;
        position: relative;
        .menu-links {
            position: relative;
            height: 100%;
            @include breakpoint(medium down) { 
                display: block;
                width: 100%;
            }
            li {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                @include breakpoint(medium down) { 
                    float: left;
                    width: 100%;
                    padding: 0px;
                }
                a {
                    color: #444;
                    text-transform: uppercase;
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    line-height: 1.82rem;
                    @include breakpoint(medium down) {
                        font-size: 0.8rem;
                    }
                }
                &:hover, &:focus, &.active {
                    background-color: rgba(255, 255, 255, 0.23);
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    a {
                        color: #d15157;
                        background-color: transparent;
                        -webkit-transition: all 0.5s ease;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
        .menu-opciones {
            position: relative;
            height: 100%;
            @include breakpoint(medium down) { 
                display: block;
                width: 100%;
            }
            li.opcion {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                @include breakpoint(medium down) { 
                    float: left;
                    width: 100%;
                    padding: 0px;
                }
                a {
                    color: #444;
                    text-transform: uppercase;
                    transition: all 0.5s ease;
                    line-height: 1.85rem;
                    font-size: 1.7rem;
                    @include breakpoint(medium down) {
                        font-size: 0.8rem;
                    }
                    .fa-sign-out {
                        margin: 0rem;
                    }
                }
                ul {
                    border: none;
                    li {
                        a {
                            color: #444 !important;
                            font-size: 0.9rem;
                            text-transform: capitalize;
                            &:hover, &:focus {
                                background-color: #2a2a2a;
                                color: #fff !important;
                            }
                        }
                    }
                }
                &:hover, &:focus, &.active {
                    background-color: rgba(255, 255, 255, 0.23);
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    a {
                        color: #d15157;
                        background-color: transparent;
                        -webkit-transition: all 0.5s ease;
                        transition: all 0.5s ease;
                    }
                }
            }
            li.time {
                padding-right: 0.5rem;
                #date_time {
                    line-height: 4.23rem;
                    color: #fff;
                }
            }
        }
    }
    .search {
        margin-top: 1.7rem;
        @include breakpoint(small only) {
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
        }
        .input-group {
            margin-bottom: 0rem !important;
            position: relative;
            .input-group-field {
                height: 2rem;
                padding: 0.5rem;
            }
        }
        input {
            border-right: none;
            box-shadow: none;
            border-color: #e1e1e1;
        }
        .input-group-label {
            background-color: #fff;
            border-left: none;
            border-color: #e1e1e1;
        }
        i {
            color: #d22b31;
        }
        .btn-search {
            position: absolute;
            float: right;
            right: 0px;
            top: 0px;
            width: 2.5rem;
            text-align: center;
            padding: 0px;
        }
    }
}

.menu-left {
    background-color: #005199;
    padding: 0px;
    padding-bottom: 3rem;
    max-height: 100vh;
    .titulo {
        color: #fff;
        text-align: center;
        margin-top: 2.5rem;
        margin-bottom: 0.5rem;
    }
    .menu {
        margin: 3rem 0rem 1rem;
        li {
            a {
                color: #fff;
                padding: 1.2rem 1rem;
                font-size: 0.85rem;
                text-transform: uppercase;
            }
            margin: 0.5rem 0rem;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            &:hover, &:focus{
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
                background-color: #9fa0a0;
            }
            &.active {
                a {
                    background-color: #389073 !important;
                }
            }
        }
    }
}

.accordion-menu{
    li {
        ul {
            margin-top: 0rem !important;
            li {
                padding-left: 1rem !important;
                margin-top: 0.5rem;
            }
        }
    }
}
