.contacto{
    width: 100%;
    padding: 4rem 12rem;
    background-color: #000;
    display: flex;
    flex-direction: column;
    .datos{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 2rem;
        h3{
            font-size: var(--largest-text);
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }
        .sucursales{
            p{
                font-family: "Futura Bold";
                font-size: var(--larger-text);
                font-weight: 600;
                color: var(--dark-blue-color);
            }
            .info{
                li{
                    margin-bottom: 1rem;
                    margin-left: 1rem;
                    list-style-type: none;
                    img{
                        width: 30px;
                        height: 30px;
                        margin-right: 1rem;
                    }
                }
            }
        }
        .formulario{
            h3,textarea, label{
                grid-column: 1 / 3;
            }
            input[type='submit']{
                grid-column: 2/ 3;
                font-size: var(--medium-text);
                font-weight: 600;
                letter-spacing: 1.5px;
            }
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-column-gap: 3rem;
            grid-row-gap: 1.5rem;

            input, textarea{
                background-color: transparent;
                border: solid 2px #fff;
                border-radius: 2px;
                padding: 0.5rem;
                &::placeholder{
                    color: #b4b4b4;
                }
            }
            input, textarea, label{
                font-size: var(--small-text);
            }
            label{
                color: var(--dark-blue-color);
                input[type='checkbox']{
                    margin-right: 1rem;
                }
            }
            /* Customize the label (the container) */
            .container {
                display: block;
                position: relative;
                padding-left: 35px;
                padding-right: 0;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            
            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            
            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: transparent;
                border: solid 2px var(--dark-blue-color);
                box-sizing: border-box;
            }
            
            /* On mouse-over, add a grey background color */
            .container:hover input ~ .checkmark {
                background-color: #ccc;
            }
            
            /* When the checkbox is checked, add a blue background */
            .container input:checked ~ .checkmark {
                background-color: var(--dark-blue-color);
            }
            
            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
            
            /* Show the checkmark when checked */
            .container input:checked ~ .checkmark:after {
                display: block;
            }
            
            /* Style the checkmark/indicator */
            .container .checkmark:after {
                left: 7px;
                top: 2px;
                width: 7px;
                height: 14px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }

    .mapa{
        background-color: aliceblue;
        height: 30rem;
        margin: 4rem 0 2rem 0;
    }
    .marcas{
        width: 60%;
        align-self: center;
        .title{
            text-align: center;
            color: #fff;
            margin-bottom: 2rem;
        }
        .slickMarcas{
            .box{
                .img{
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

footer{
    background-color: var(--darker-blue-color);
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 4rem;
    padding: 4rem 2rem 2rem 2rem;
    *{
        color: #fff;
        text-transform: capitalize;
    }
    >*{
        display: flex;
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
        }
    }
    .quienes-somos, .catalogo-productos{
        a{
            margin-left: 2rem;
        }
        li{
            text-transform: uppercase;
            a{
                margin: 0;
            }
        }
    }
    .links{
        margin: 0;
        padding: 0;
        li{
            margin-left: 2rem;
        }
    }
    .siguenos{
        align-items: center;
        p{
            font-family: "Futura Bold";
            font-size: var(--larger-text);
            font-weight: 600;
        }
        .iconos{
            width: 80%;
            display: flex;
            justify-content: space-between;
        }
    }
    .aviso-privacidad{
        grid-column: 1 / 6;
        align-items: center;
        *{
            font-size: var(--smaller-text);
        }
        img{
            width: 30px;
            height: 30px;
        }
    }
}