nav{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    *{
        color: #fff;
    }
    .btn-menu-dropdown{
        display: none;
    }
    .contenido-nav{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        &:first-child{
            border-bottom: solid #fff 2px;
        }
        .fila-nav{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.35rem 1.5rem;
        }
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;
        }
        li{
            list-style-type: none;
            text-transform: uppercase;
            a{  
                img{
                    margin-right: 0.5rem;
                }
                width: 100%;
                height: 100%;
                &:hover {
                    color: #fdfdfd;
                    text-decoration: underline;
                }
            }
        }
        .nav-first-row{
            border-bottom: solid #fff 1px;
            .logo-nav{
                width: 40%;
                margin-left: 2rem;
                a{
                    width: 120px;
                    height: 60px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .buscar-seccion{
                width: 40%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                input, button{
                    background-color: transparent;
                    color: #fff;
                    height: calc(1.5em + .75rem + 2px);
                    padding: .375rem .75rem;
                }
                form{
                    display: flex;
                    &:focus{
                        box-shadow: 0 0 0 0.2rem rgba(223, 223, 223, 0.25);
                    }
                    input{
                        border: #fff solid 1px;
                        border-radius: 2px;
                        border-right: none;
                        height: 2rem;
                        &::placeholder{
                            color: #fff;
                        }
                        &:focus{
                            box-shadow: none;
                        }
                    }
                    button{
                        position: relative;
                        border: #fff solid 1px;
                        border-radius: 2px;
                        border-left: none;
                        left:-2px;
                        height: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                button{
                    border: none;
                }
            }
        }

        .nav-second-row{
            justify-content: flex-end;
            margin-top: 1rem;
            .lista-nav-main{
                margin-right: 4rem;
                width: 30%;
            }
            .lista-nav-secundary{
                li{
                    margin: 0 0.5rem;
                }
                img{
                    width: 28px;
                    height: 28px;
                }
                .carrito{
                    a{
                        height: 100%;
                        border-left:  #fff solid 1px;
                        padding: 0 1rem;

                    }
                }
            }
        }
    }
}